/*Mobile Device*/
body {
  background-color: #7c6855;
  color: black;

  min-height: 100vh;
}
#header {
  background-color: #45382b;

  width: 100%;
  height: 4vw;
  position: fixed;

  padding: 0 1vw 0 1vw;
  z-index: 1000;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.header__logo a {
  font-family: 'Gugi', cursive;
  color: white;

  margin-left: 1vw;
  margin-top: 0.3vw;
}

.header__navbar {
  font-family: 'Do Hyeon', sans-serif;
  color: white;

  margin-top: 0.3vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.header__navbar__item:hover {
  color: #D4B8A8;
  cursor: pointer;
}

.header__account {
  font-family: 'Noto Serif KR', serif;
  color: white;

  position: absolute;
  right: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
}
.header__account a {
  color: white;
}

.account__profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.profile__box {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 70%;
  overflow: hidden;
}
.account__profile_picture {
  object-fit: cover;
}
/*Tablet Device*/
@media all and (min-width: 768px) {
}

/*Labtop Device*/
@media all and (min-width: 768px) and (max-width: 1024px) {
}

/*Desktop Device*/
@media all and (min-width: 768px) {
  .header__logo {
    width: 25%;
  }
  .header__logo img {
    width: 2.5vw;
  }
  .header__logo a {
    font-size: 2.5vw;
  }

  .header__navbar {
    width: 50%;
    font-size: 2vw;
  }

  .header__account {
    width: 25%;
    font-size: 1.3vw;
  }
  .header__account a {
    margin: 0 1.3vw 0 0;
  }
  .account__profile__nickname {
    margin-right: 1.3vw;
  }
  .profile__box {
    margin: 0 0.7vw 0 0;
  }
  .account__profile_picture {
    width: 2.5vw;
  }
}
